body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  max-width: 100%;
  color: #333;
  background-color: rgb(244, 240, 220);
}

#waitlist{
 
}

.waitlistHeader {
    font-family: 'Times New Roman', Times, serif;
    max-width: 45rem; 
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    padding: 0;
    background-color: rgb(229, 181, 60);
    border: .3rem solid black;
}

#logo{
  width: 25%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.spanRed {
  color: red;
  font-weight: bold;
}

#title {
 text-align: center;
}

main {
  max-width: 45rem; 
    margin: 0 auto;
    padding: 20px;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: .5rem;
}

h2 {
  font-size: 1.2em;
  margin-bottom: .5rem;
  margin-top: .3rem;
}

h3 {
  text-align: left;
  margin: 0;
  line-height: 125%;
  margin-left: 1rem;
}
.color {
  color: rgb(37, 37, 170);
  text-align: center;
}
.container {
    width: 5rem;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

  label {
    max-width: 75ch;
    margin-top: 5px;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

#roleInput {
  max-width: 44rem;
}
  
.checkbox-container input[type='checkbox'] {
  vertical-align:middle;
  max-width: 2em;
  margin: 1em;
}

#termsCheckbox {
  display:inline-block;
  align-items:flex-start;
  margin: 0;
}


  
  p {
    overflow: hidden;
    max-width: 75ch;
    max-width: 45rem; 
    margin: 2px auto;
    padding: 2px;
    display: flex;
  }
   
  input {
    display: block;
    width: 15rem;
    margin-bottom: 10px;
    padding: 10px;
  }

  button {
    display: block;
    width: 15em;
    margin-top: 1em;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
  }

  @media screen and (max-width: 600px) {
    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1em;
    }

    p {
        font-size: 0.9em;
    }
}
  